{% extends 'layout.html' %}

{% block body %}

<!-- Page template header -->
<div class="custom-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Daily KPIs</h1>
  <p class="fs-5 text-muted">Review today's shift KPIs</p>
</div>

<!-- Collection of cards layed out in rows -->
<div class="row row-cols-1 row-cols-md-12 mb-12 text-center">

  <!-- Line bar productivity -->
  <div class="col">
    <div class="card mb-3 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Productivity</h4>
      </div>
      <div class="card-body">
        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>              
      </div>
    </div>
  </div>
</div>

<!-- Data section -->
<h2 class="display-6 text-center mb-4">Shift data</h2>

<!-- Responsive data table -->
<div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr>
        <th style="width: 2%;"></th>
        <th style="width: 14%;">Clip machine</th>
        <th style="width: 14%;">Model</th>
        <th style="width: 14%;">Goal</th>
        <th style="width: 14%;">Rate</th>
        <th style="width: 14%;">Reality</th>
        <th style="width: 14%;">Defects</th>
        <th style="width: 14%;">Downtime (mins)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-start">7:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">8:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">9:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">10:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">11:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">12:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">13:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">14:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">15:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">16:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">17:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">18:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">19:00</th>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}