{% extends 'base.html' %}

{% block content %}
<!-- Page template header -->
<div class="custom-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Daily KPIs</h1>
  <p class="fs-5 text-muted">{{ shift_date }}</p>
  <p class="fs-5 text-muted">Review today's shift KPIs</p>
</div>

<!-- Collection of cards layed out in rows -->
<div class="row row-cols-1 row-cols-md-12 mb-12 text-center">

  <!-- Line bar productivity -->
  <div class="col">
    <div class="card mb-3 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Productivity</h4>
      </div>
      <div class="card-body">
        <canvas class="my-4 w-100" id="dailyProductivityLineChart" width="900" height="380"></canvas>              
      </div>
    </div>
  </div>

  <!-- Doughnut downtime  -->
  <div class="col">
    <div class="card mb-3 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Downtime by reason</h4>
      </div>
      <div class="card-body">
        <canvas class="my-4 w-100" id="dailyDowntimeChart" width="900" height="380"></canvas>              
      </div>
    </div>
  </div>

  <!-- Doughnut defects  -->
  <div class="col">
    <div class="card mb-3 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Defects by reason</h4>
      </div>
      <div class="card-body">
        <canvas class="my-4 w-100" id="dailyDefectsChart" width="900" height="380"></canvas>              
      </div>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

<script>
  graphProductionTimeline('dailyProductivityLineChart', {{ production['rate'] |safe  }}, {{ production['goal'] |safe }}, {{ production['reality'] |safe }}, {{ hours |safe}})
  graphDoughnut('dailyDowntimeChart', {{ downtimes['groups']['labels'] |safe }}, {{ downtimes['groups']['values'] }}, {{ downtimes['groups']['colors'] |safe }}, "Downtime by reason")
  graphDoughnut('dailyDefectsChart', {{ defects['groups']['labels'] |safe }}, {{ defects['groups']['values'] }}, {{ defects['groups']['colors'] |safe }}, "Defects by reason")
</script>
{% endblock content %}