{% extends 'base.html' %}

{% block content %}


<!-- Breadcrumb and date selector section-->
<br>
<div class="row">

  <!-- Breadcrumb path-->
  <div class="col-md-8">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
      </ol>
    </nav>  
  </div>
  
  <!-- Date selector form -->
  <div class="col-md-4">
      <form action="/project/{{ project.id }}" method="POST"> 
        <div class="input-group mb-3">
          <input type="text" class="form-control" name='shift_date' id='inputShiftDate' placeholder="{{ shift_date }}" aria-label="{{ shift_date }}" aria-describedby="{{ shift_date }}" data-provide="datepicker" data-date-format="yyyy-mm-dd" placeholder="Pick the date">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
              </svg>
          </div>
        </div>
      </form>
  </div>

</div>

<hr>

<div class="container-responsive">
  
  <!-- Title -->
  <h1 class="display-4">{{ shift_readable_date }}</h1>
  <br>

  <!-- Card deck containign productivity, defect and downtime graphs -->
  <div class="card-deck">

    <!-- General details card  -->
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h6><small>Project</small></h6>
        <h5 class="card-title display-4">{{ project['name'] }}</h5>
        <p class="card-text lead">Goal {{ project['goal'] }} <abbr title="Pieces per hour">pph</abbr>, Rate {{ project['rate'] }} <abbr title="Pieces per hour">pph</abbr></p>
      </div>
    </div>
    
    <!-- Productivity card  -->
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title display-4">{{ total['production']['reality'] }} <small>pc.</small></h5>
        <p class="card-text">Total amount of pieces produced today.</p>
        {% if total['production']['reality'] > 0 %}
          <canvas class="my-4 w-100" id="dailyProductivityLineChart" width="900" height="380"></canvas>
        {% endif %}
      </div>
    </div>

    <!-- Defects card -->
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title display-4">{{ total['defects'] }} <small>pc.</small></h5>
        <p class="card-text">Total amount of defects identified today.</p>
        {% if total['defects'] > 0 %}
          <canvas class="my-4 w-100" id="dailyDefectsChart" width="900" height="380"></canvas>
        {% endif %}
      </div>
    </div>

    <!-- Downtimes card -->
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title display-4">{{ total['downtime'] }} <small>min.</small></h5>
        <p class="card-text">Total minutes of downtime occurred today.</p>
        {% if total['downtime'] > 0 %}
          <canvas class="my-4 w-100" id="dailyDowntimeChart" width="900" height="380"></canvas>
        {% endif %}
      </div>
    </div>

    <!-- Table card -->
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title display-4">Shift data</h5>
        <p class="card-text">Breakdown of shift inputs by hour.</p>

        <!-- Responsive data table -->
        <div class="table-responsive">
          <table class="table text-center table-hover table-md">
            <thead>
              <tr>
                <th style="width: 2%"></th>
                <th style="width: 2%;">Time</th>
                <th style="width: 32%;">Produced</th>
                <th style="width: 32%;">Defects</th>
                <th style="width: 32%;">Downtime</th>
              </tr>
            </thead>

            <tbody class="accordion" id="accordionExample">

              {% for key, row in data.items() %}

                {% if row %}
                  <div class="accordion-item">
                    <tr class="accordion-header" id="rowHeader{{ loop.index }}" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#rowCollapse{{ loop.index }}" aria-expanded="true" aria-controls="rowCollapse{{ loop.index }}">
                      <th></th>
                      <th>{{ key }}</th>
                      <td>{{ row.reality }} <small>pcs</small></td>
                      <td>{{ row.defects }} <small>pcs</small></td>
                      <td>{{ row.downtime }} <small>mins</small></td>
                    </tr>
                
                    <tr>
                      <th></th>
                      <td colspan="4" class="p-0">
                        <div id="rowCollapse{{ loop.index }}" class="accordion-collapse collapse sow bg-light" aria-labelledby="rowHeader{{ loop.index }}" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <div class="container">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title">Defects</h5>
                                      {% for row in defects['models'] %}
                                        {% if row['shift_time'] == key %}
                                          <p class="card-text">{{ row['model'] }}: {{ row['quantity'] }} pc.</p>
                                        {% endif %}
                                      {% endfor %}
                                    </div>
                                  </div>                                     
                                </div>
                                <div class="col-sm-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title">Downtimes</h5>
                                      {% for row in downtimes['reasons'] %}
                                        {% if row['shift_time'] == key %}
                                          <p class="card-text">{{ row['reason'] }}: {{ row['quantity'] }} min.</p>
                                        {% endif %}
                                      {% endfor %}
                                    </div>
                                  </div>                                  
                                </div>
                              </div>
                                  
                                
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </div>
                {% else %}
                  <tr>
                    <th></th>
                    <th scope="row" class="text-start">{{ key }}</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>   
                {% endif %}

              {% endfor %}

            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th scope="row" class="text-start">Total</th>
                <td>{{ total['production']['reality'] }} <small>pcs</small></td>
                <td>{{ total['defects'] }} <small>pcs</small></td>
                <td>{{ total['downtime'] }} <small>mins</small></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br>
  



</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

<script>
  graphProductionTimeline('dailyProductivityLineChart', {{ production['rate'] |safe  }}, {{ production['goal'] |safe }}, {{ production['reality'] |safe }}, {{ hours |safe}})
  graphDoughnut('dailyDowntimeChart', {{ downtimes['groups']['labels'] |safe }}, {{ downtimes['groups']['values'] }}, {{ downtimes['groups']['colors'] |safe }}, "Downtime by reason")
  graphDoughnut('dailyDefectsChart', {{ defects['groups']['labels'] |safe }}, {{ defects['groups']['values'] }}, {{ defects['groups']['colors'] |safe }}, "Defects by reason")
</script>
{% endblock content %}