{% extends 'base.html' %}

{% block content %}

<!-- Breadcrumb navigation -->
<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Projects</a></li>
    <li class="breadcrumb-item"><a href="/project/{{ project.id }}">{{ project.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Shift input</li>
  </ol>
</nav>
<hr>

<br>

<h1 class="display-4">{{ shift_readable_date }}</h1>
<br>

<!-- Collection of cards layed out in rows -->
<div class="row row-cols-1 row-cols-md-12 mb-12 text-center">

  <!-- Tabs -->
  <div class="col">

    <!-- Tab navigation -->
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-production-tab" data-bs-toggle="tab" data-bs-target="#nav-production" type="button" role="tab" aria-controls="nav-production" aria-selected="true">Production</button> 
        <button class="nav-link" id="nav-defects-tab" data-bs-toggle="tab" data-bs-target="#nav-defects" type="button" role="tab" aria-controls="nav-defects" aria-selected="false">Defects</button> 
        <button class="nav-link" id="nav-downtimes-tab" data-bs-toggle="tab" data-bs-target="#nav-downtimes" type="button" role="tab" aria-controls="nav-downtimes" aria-selected="false">Downtimes</button> 
      </div>
    </nav>

    <div class="tab-content" id="nav-tab-content">

      <!-- Production tab -->
      <div class="tab-pane fade show active" id="nav-production" role="tabpanel" aria-labelledby="nav-production-tab">
        <br>

        <div class="card mb-3 rounded-3 shadow-sm">
          <div class="card-body">

            <!-- Production input form-->
            <form action="/add_production" method="POST"> 
              <div class="row mb-3" hidden>
                <label for="inputProjectId" class="col-sm-3 col-form-label">Project ID</label>
                <div class="col-sm-9">
                  <input type='text' id="inputProjectId" name="project_id" class="form-control" value="{{ project.id }}" readonly>
                </div>
              </div>

              <div class="row mb-3" hidden>
                  <label for="inputShiftDate" class="col-sm-3 col-form-label">Shift date</label>
                  <div class="col-sm-9">
                    <input type='text' id="inputShiftDate" name="shift_date" class="form-control" value="{{ shift_date }}" readonly>
                  </div>
              </div>
            
              <div class="row mb-3">
                  <label for="inputShiftHours" class="col-sm-3 col-form-label">Shift time</label>
                  <div class="col-sm-9">
                      <select class="form-select" id="inputShiftHours" name="shift_time" aria-label="Select the shift date">
                          <option selected>Choose the shift time</option>
                          <option value="7:00">7:00</option>
                          <option value="8:00">8:00</option>
                          <option value="9:00">9:00</option>
                          <option value="10:00">10:00</option>
                          <option value="11:00">11:00</option>
                          <option value="12:00">12:00</option>
                          <option value="13:00">13:00</option>
                          <option value="14:00">14:00</option>
                          <option value="15:00">15:00</option>
                          <option value="16:00">16:00</option>
                          <option value="17:00">17:00</option>
                          <option value="18:00">18:00</option>
                          <option value="19:00">19:00</option>
                      </select>
                  </div>
              </div>
            
              <div class="row mb-3">
                  <label for="inputModel" class="col-sm-3 col-form-label">Model</label>
                  <div class="col-sm-9">
                      <select class="form-select" id="inputModel" name="model" aria-label="Select the model">
                          <option selected>Choose the model</option>
                          {% for model in project['models'] %}
                            <option value="{{ model.name }}">{{ model.name }}</option>
                          {% endfor %}
                      </select>                          
                  </div>
              </div>
            
              <div class="row mb-3">
                  <label for="inputClipMachine" class="col-sm-3 col-form-label">Machine</label>
                  <div class="col-sm-9">
                      <select class="form-select" id="inputClipMachine" name="machine" aria-label="Select the machine">
                          <option selected>Choose the machine</option>
                          {% for machine in project['machines'] %}
                            <option value="{{ machine.name }}">{{ machine.name }}</option>
                          {% endfor %}
                      </select>                         
                  </div>
              </div>
            
              <div class="row mb-3">
                  <label for="inputReal" class="col-sm-3 col-form-label">Quantity</label>
                  <div class="col-sm-9">
                      <input type="number" id="inputReal" name="quantity" class="form-control">
                  </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block">Save</button>
            </form>
          </div>
        </div>

      </div>
      
      <!-- Defects tab -->
      <div class="tab-pane fade" id="nav-defects" role="tabpanel" aria-labelledby="nav-defects-tab">
        <br>
        
        <div class="card mb-3 rounded-3 shadow-sm">
          <div class="card-body">

            <!-- Defects input form-->
            <form action="/add_defect" method="POST"> 
              <div class="row mb-3" hidden>
                <label for="inputProjectId" class="col-sm-3 col-form-label">Project ID</label>
                <div class="col-sm-9">
                  <input type='text' id="inputProjectId" name="project_id" class="form-control" value="{{ project.id }}" readonly>
                </div>
              </div>

              <div class="row mb-3" hidden>
                  <label for="inputShiftDate" class="col-sm-3 col-form-label">Shift date</label>
                  <div class="col-sm-9">
                    <input type='text' id="inputShiftDate" name="shift_date" class="form-control" value="{{ shift_date }}" readonly>
                  </div>
              </div>
            
              <div class="row mb-3">
                <label for="inputShiftHours" class="col-sm-3 col-form-label">Time of occurrence</label>
                <div class="col-sm-9">
                  <input type='time' min="07:00" max="19:00" id="inputShiftHours" name="shift_time" class="form-control">
                </div>
              </div>
            
              <div class="row mb-3">
                  <label for="inputModel" class="col-sm-3 col-form-label">Model</label>
                  <div class="col-sm-9">
                      <select class="form-select" id="inputModel" name="model" aria-label="Select the model">
                          <option selected>Choose the model</option>
                          {% for model in project['models'] %}
                            <option value="{{ model.name }}">{{ model.name }}</option>
                          {% endfor %}
                      </select>                          
                  </div>
              </div>
            
              <div class="row mb-3">
                  <label for="inputClipMachine" class="col-sm-3 col-form-label">Machine</label>
                  <div class="col-sm-9">
                      <select class="form-select" id="inputClipMachine" name="machine" aria-label="Select the machine">
                          <option selected>Choose the machine</option>
                          {% for machine in project['machines'] %}
                            <option value="{{ machine.name }}">{{ machine.name }}</option>
                          {% endfor %}
                      </select>                         
                  </div>
              </div>

              <div class="row mb-3">
                <label for="inputDefectReason" class="col-sm-3 col-form-label">Defect reason</label>
                <div class="col-sm-9">
                    <select id="inputDefectReason" name="reason" class="form-select" aria-label="Select the defect reason">
                        <option selected>Choose the defect reason</option>
                        {% for reason in project['reasons'] %}
                          {% if reason['category'] == 'defect' %}
                            <option value="{{ reason['description'] }}">{{ reason['description'] }}</option>
                          {% endif %}
                        {% endfor %}

                    </select>
                </div>
              </div>

              <div class="row mb-3">
                  <label for="inputQuantity" class="col-sm-3 col-form-label">Quantity</label>
                  <div class="col-sm-9">
                      <input type="number" id="inputQuantity" name="quantity" class="form-control">
                  </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block">Save</button>
            </form>
          </div>
        </div>

      </div> 
      
      <!-- Downtimes tab -->
      <div class="tab-pane fade" id="nav-downtimes" role="tabpanel" aria-labelledby="nav-downtimes-tab">
        <br>
        
        <div class="card mb-3 rounded-3 shadow-sm">
          <div class="card-body">
            <!-- Downtimes input form-->
            <form action="/add_downtime" method="POST"> 
              <div class="row mb-3" hidden>
                <label for="inputProjectId" class="col-sm-3 col-form-label">Project</label>
                <div class="col-sm-9">
                  <input type='text' id="inputProjectId" name="project_id" class="form-control" value="{{ project.id }}" readonly>
                </div>
              </div>

              <div class="row mb-3" hidden>
                  <label for="inputShiftDate" class="col-sm-3 col-form-label">Shift date</label>
                  <div class="col-sm-9">
                    <input type='text' id="inputShiftDate" name="shift_date" class="form-control" value="{{ shift_date }}" readonly>
                  </div>
              </div>
            
              <div class="row mb-3">
                  <label for="inputShiftHours" class="col-sm-3 col-form-label">Time of occurrence</label>
                  <div class="col-sm-9">
                    <input type='time' min="7:00" max="19:00" id="inputShiftHours" name="shift_time" class="form-control">
                  </div>
              </div>
            
              <div class="row mb-3">
                  <label for="inputModel" class="col-sm-3 col-form-label">Model</label>
                  <div class="col-sm-9">
                      <select class="form-select" id="inputModel" name="model" aria-label="Select the model">
                          <option selected>Choose the model</option>
                          {% for model in project['models'] %}
                            <option value="{{ model.name }}">{{ model.name }}</option>
                          {% endfor %}
                      </select>                          
                  </div>
              </div>
            
              <div class="row mb-3">
                  <label for="inputClipMachine" class="col-sm-3 col-form-label">Machine</label>
                  <div class="col-sm-9">
                      <select class="form-select" id="inputClipMachine" name="machine" aria-label="Select the machine">
                          <option selected>Choose the machine</option>
                          {% for machine in project['machines'] %}
                            <option value="{{ machine.name }}">{{ machine.name }}</option>
                          {% endfor %}
                      </select>                         
                  </div>
              </div>

              <div class="row mb-3">
                <label for="inputDownTimeReason" class="col-sm-3 col-form-label">Downtime Reason</label>
                <div class="col-sm-9">
                    <select id="inputDownTimeReason" name="reason" class="form-select" aria-label="Select the downtime reason">
                        <option selected>Choose the downtime reason</option>
                        {% for reason in project['reasons'] %}
                          {% if reason['category'] == 'downtime' %}
                            <option value="{{ reason['description'] }}">{{ reason['description'] }}</option>
                          {% endif %}
                        {% endfor %}
                        

                    </select>
                </div>
              </div>

              <div class="row mb-3">
                  <label for="inputQuantity" class="col-sm-3 col-form-label">Quantity (minutes)</label>
                  <div class="col-sm-9">
                      <input type="number" id="inputQuantity" name="quantity" class="form-control">
                  </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block">Save</button>
            </form>
          </div>
        </div>
        
      </div>       


    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

<script>
</script>
{% endblock content %}